@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Myeongjo&display=swap");

body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.home {
  position: relative;
  overflow: hidden;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  background: rgb(214, 239, 252);
}
.container {
  width: 100%;
}
.main-des {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;

  transform: translate(-50%, -40%);
  font-size: clamp(20px, 5vw, 30px);
}

.p-1,
.p-2,
.p-3,
.p-4,
.microphone-img {
  animation: fadeInUp 3s;
  -moz-animation: fadeInUp 3s; /* Firefox */
  -webkit-animation: fadeInUp 3s; /* Safari and Chrome */
}

.p-2 {
  opacity: 0;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.p-3 {
  opacity: 0;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.p-4 {
  opacity: 0;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.microphone-img {
  opacity: 0;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.wave.container {
  border-radius: 5px;
  position: absolute;
  transform: translate3d(0, 0, 0);
}

.wave {
  position: absolute;
  /* top: 80vh; */
  /* left: 50%; */
  width: 2500px;
  height: 2500px;

  margin-left: -10vw;
  margin-top: -90vh;
  transform-origin: 50% 53%;
  border-radius: 43%;
}

.wave.label-1 {
  opacity: 0.8;
  animation: drift 8000ms infinite linear;
  background: white;
  z-index: -10;
}

.wave.label-2 {
  opacity: 0.6;
  animation: drift 8100ms infinite linear;
  background: white;
  z-index: -5;
}

.wave.label-3 {
  opacity: 0.4;
  animation: drift 8500ms infinite linear;
  background: white;
  z-index: -2;
}

.microphone-img {
  fill: rgb(149, 207, 239);
  height: 5vh;
  /* box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    5px 5px 20px 0px #0002, 3px 3px 4px 0px #0001; */
  border-radius: 50%;
}

.microphone-img:hover {
  box-shadow: 0px 0px 0px 0px #fff9;
}

.microphone-img-path:hover {
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(+10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
